@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #007A29;
}

.logo {
    margin-bottom: 2%;
}

.title {
    text-align: center;
    font-family: 'Heebo', sans-serif;
    font-weight: 700;
    font-size: 120pt;
    color: #FFD859;
}

.subtitle {
    text-align: center;
    font-family: 'Heebo', sans-serif;
    font-weight: 700;
    font-size: 60pt;
    color: white;
    margin-bottom: 5%;
}

.titleSmall {
    text-align: start;
    font-family: 'Heebo', sans-serif;
    font-weight: 700;
    font-size: 60pt;
    color: #FFD859;
    margin-top: 5%;
    margin-left: 5%;
}

.subtitleLight {
    text-align: start;
    font-family: 'Heebo', sans-serif;
    font-weight: 300;
    font-size: 50pt;
    color: white;
    margin-left: 5%;
    margin-bottom: 15%;
}


.centerElements {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.mostrarProducto {
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.descripcionProducto {
    width: 100%;
    display: flex;
    flex-direction: column;
}